[submodule "iris_classifier"]
	path = iris_classifier
	url = git@github.com:Siiir/iris_classifier.git
[submodule "lang_reco"]
	path = lang_reco
	url = git@github.com:Siiir/rust-lang_reco.git
[submodule "NN-1_layer"]
	path = NN-1_layer
	url = git@github.com:Siiir/rust-NN-1_layer.git
